<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:app="http://schemas.android.com/apk/res-auto"
    xmlns:tools="http://schemas.android.com/tools" >
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="ContactUs"
            android:exported="false" >
            <actioN android:name="android.intent.action.SEND" />
            <category android:name="android.intent.category.DEFAULT" />
        </activity>
        <activity
            android:name=".History"
            android:exported="false" >
            <action android:name="android.intent.action.SEND" />
            <category android:name="android.intent.category.DEFAULT" />
        </activity>
        <activity
            android:name=".MyPins"
            android:exported="false" >
            <action android:name="android.intent.action.SEND" />
            <category android:name="android.intent.category.DEFAULT" />
        </activity>
        <activity
            android:name=".FoodMap"
            android:exported="false" >
            <action android:name="android.intent.action.SEND" />
            <category android:name="android.intent.category.DEFAULT" />
        </activity>
        <activity
            android:name=".AboutUs"
            android:exported="false" >
            <action android:name="android.intent.action.SEND" />
            <category android:name="android.intent.category.DEFAULT" />
        </activity>
        <activity
            android:name=".ReceiveActivity"
            android:exported="false" >
            <action android:name="android.intent.action.SEND" />
            <category android:name="android.intent.category.DEFAULT" />
        </activity>
        <activity
            android:name=".DonationActivity"
            android:exported="false" >
            <action android:name="android.intent.action.SEND" />
            <category android:name="android.intent.category.DEFAULT" />
        </activity>
        <activity android:name=".DashboardActivity"
            android:exported="false">
        <action android:name="android.intent.action.SEND" />
        <category android:name="android.intent.category.DEFAULT" />
        </activity>
        <activity android:name=".ForgotPasswordActivity"
            android:exported="false">
        <action android:name="android.intent.action.SEND" />
        <category android:name="android.intent.category.DEFAULT" />
        </activity>
        <activity android:name=".RegisterActivity"
            android:exported="false">
        <action android:name="android.intent.action.SEND" />
        <category android:name="android.intent.category.DEFAULT" />
        </activity>
        <activity android:name=".LoginActivity"
            android:exported="false">
            <action android:name="android.intent.action.SEND" />
            <category android:name="android.intent.category.DEFAULT" />

        </activity>
        <activity android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
    </application>
</manifest>
